* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
:root {
  --pry-yellow: #f7be04;
  --pry-pink: #ff3068;
  --pry-blue: #272b39;
  --pry-light: #99a1ab;
  --pry-white: #fbfbfb;
  --pry-font: "Raleway", sans-serif;
  --sec-font: "Roboto", sans-serif;
}
.navbar {
  font-family: var(--pry-font);
  font-weight: bold;
  margin-top: 2rem;
}
.navBarBrand {
  font-size: 2rem;
  font-weight: bold;
  color: var(--pry-blue);
}
.navBarBrand-suffix {
  color: var(--pry-pink);
}
.nav a {
  color: var(--pry-blue);
}
.navbar .nav-item .nav-link {
  color: var(--pry-light);
}
.navbar .nav-item .nav-link:hover {
  color: var(--pry-blue);
}

.navbar .nav-item .nav-link.active {
  color: var(--pry-blue);
}
.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}
.headingSecond {
  width: 70%;
}
.headingThird {
  width: 80%;
}
.headingFirst {
  width: 65%;
}
.headingFirst,
.headingSecond,
.headingThird,
.headingFourth {
  font-size: 3rem;
  font-weight: bold;
  color: var(--pry-blue);
  font-family: var(--pry-font);
}
.paraFirst,
.paraSecond,
.paraThird,
.paraFourth {
  font-family: var(--sec-font);
  width: 75%;
  color: var(--pry-light);
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}
.btnExplore {
  background-color: var(--pry-pink);
  color: var(--pry-white);
  padding: 0.7rem 2rem;
  font-weight: 500;
  transition: all 100ms ease-in-out;
}
.btnExplore:hover {
  color: var(--pry-pink);
  border: 2px solid var(--pry-pink);
  background-color: var(--pry-white);
}
@media (max-width: 991px) {
  .headingFirst,
  .headingSecond,
  .headingThird {
    width: 100%;
  }
  .paraFirst,
  .paraSecond,
  .paraThird,
  .paraFourth {
    width: 100%;
  }
  .btnExplore {
    margin-bottom: 2rem;
  }
  .order-sm-first {
    order: -1;
  }
}

@media (min-width: 992px) {
  .container .headingRoll {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 3rem;
  }
  .headingFirst,
  .headingSecond,
  .headingThird {
    margin-top: 3.3rem;
  }
}
.listItem{
  list-style: none;
  padding-left: 0;
}
.listItem li{
  font-family: var(--sec-font);
  width: 75%;
  color: var(--pry-light);
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
  

}
.check{
  color: var(--pry-pink);
  padding-left: 0;
  margin-left: 0;
  font-weight: bold;
}